$baseColor: #000000;
$baseGreen: #555555;
$baseRed: rgb(255, 0, 0);
$baseBlue: rgba(0, 0, 255, 0);
$background: 'background.jpg';

$block-width: 500px;
$block-height: 40px;

.black-white {
    margin-top: 10px;
    
    > div {
        width: $block-width;
        height: $block-height; 
    }
    
    .color1 { background-color: $baseColor + #111111; }
    .color2 { background-color: $baseColor + #222222; }
    .color3 { background-color: $baseColor + #333333; }
    .color4 { background-color: $baseColor + #444444; }
    .color5 { background-color: $baseColor + #555555; }
    .color6 { background-color: $baseColor + #666666; }
    .color7 { background-color: $baseColor + #777777; }
    .color8 { background-color: $baseColor + #888888; }
    .color9 { background-color: $baseColor + #999999; }
    .color10 { background-color: $baseColor + #AAAAAA; }
}

.green-colors {
    margin-top: 30px;
    
    > div {
        width: $block-width;
        height: $block-height;
    }
    
    .color1 { background-color: $baseGreen + #001100; }
    .color2 { background-color: $baseGreen + #002200; }
    .color3 { background-color: $baseGreen + #003300; }
    .color4 { background-color: $baseGreen + #004400; }
    .color5 { background-color: $baseGreen + #005500; }
    .color6 { background-color: $baseGreen + #006600; }
    .color7 { background-color: $baseGreen + #007700; }
    .color8 { background-color: $baseGreen + #008800; }
    .color9 { background-color: $baseGreen + #009900; }
    .color10 { background-color: $baseGreen + #00AA00; }
}

.red-colors {
    width: $block-width;
    margin-top: 30px;
    
    background: {
        image: url($background);
        size: 100%;
    }
    
    > div {
        width: $block-width;
        height: $block-height;
    }
    
    .color1 { background-color: transparentize($baseRed, 0.1); }
    .color2 { background-color: transparentize($baseRed, 0.2); }
    .color3 { background-color: transparentize($baseRed, 0.3); }
    .color4 { background-color: transparentize($baseRed, 0.4); }
    .color5 { background-color: transparentize($baseRed, 0.5); }
    .color6 { background-color: transparentize($baseRed, 0.6); }
    .color7 { background-color: transparentize($baseRed, 0.7); }
    .color8 { background-color: transparentize($baseRed, 0.8); }
    .color9 { background-color: transparentize($baseRed, 0.9); }
    .color10 { background-color: transparentize($baseRed, 1); }
}

.blue-colors {
    width: $block-width;
    margin-top: 30px;
    
    background: {
        image: url($background);
        size: 100%;
    }
    
    > div {
        width: $block-width;
        height: $block-height;
    }
    
    .color1 { background-color: opacify($baseBlue, 0.1); }
    .color2 { background-color: opacify($baseBlue, 0.2); }
    .color3 { background-color: opacify($baseBlue, 0.3); }
    .color4 { background-color: opacify($baseBlue, 0.4); }
    .color5 { background-color: opacify($baseBlue, 0.5); }
    .color6 { background-color: opacify($baseBlue, 0.6); }
    .color7 { background-color: opacify($baseBlue, 0.7); }
    .color8 { background-color: opacify($baseBlue, 0.8); }
    .color9 { background-color: opacify($baseBlue, 0.9); }
    .color10 { background-color: opacify($baseBlue, 1); }
}