.black-white {
  margin-top: 10px; }
  .black-white > div {
    width: 500px;
    height: 40px; }
  .black-white .color1 {
    background-color: #111111; }
  .black-white .color2 {
    background-color: #222222; }
  .black-white .color3 {
    background-color: #333333; }
  .black-white .color4 {
    background-color: #444444; }
  .black-white .color5 {
    background-color: #555555; }
  .black-white .color6 {
    background-color: #666666; }
  .black-white .color7 {
    background-color: #777777; }
  .black-white .color8 {
    background-color: #888888; }
  .black-white .color9 {
    background-color: #999999; }
  .black-white .color10 {
    background-color: #aaaaaa; }

.green-colors {
  margin-top: 30px; }
  .green-colors > div {
    width: 500px;
    height: 40px; }
  .green-colors .color1 {
    background-color: #556655; }
  .green-colors .color2 {
    background-color: #557755; }
  .green-colors .color3 {
    background-color: #558855; }
  .green-colors .color4 {
    background-color: #559955; }
  .green-colors .color5 {
    background-color: #55aa55; }
  .green-colors .color6 {
    background-color: #55bb55; }
  .green-colors .color7 {
    background-color: #55cc55; }
  .green-colors .color8 {
    background-color: #55dd55; }
  .green-colors .color9 {
    background-color: #55ee55; }
  .green-colors .color10 {
    background-color: #55ff55; }

.red-colors {
  width: 500px;
  margin-top: 30px;
  background-image: url("background.jpg");
  background-size: 100%; }
  .red-colors > div {
    width: 500px;
    height: 40px; }
  .red-colors .color1 {
    background-color: rgba(255, 0, 0, 0.9); }
  .red-colors .color2 {
    background-color: rgba(255, 0, 0, 0.8); }
  .red-colors .color3 {
    background-color: rgba(255, 0, 0, 0.7); }
  .red-colors .color4 {
    background-color: rgba(255, 0, 0, 0.6); }
  .red-colors .color5 {
    background-color: rgba(255, 0, 0, 0.5); }
  .red-colors .color6 {
    background-color: rgba(255, 0, 0, 0.4); }
  .red-colors .color7 {
    background-color: rgba(255, 0, 0, 0.3); }
  .red-colors .color8 {
    background-color: rgba(255, 0, 0, 0.2); }
  .red-colors .color9 {
    background-color: rgba(255, 0, 0, 0.1); }
  .red-colors .color10 {
    background-color: rgba(255, 0, 0, 0); }

.blue-colors {
  width: 500px;
  margin-top: 30px;
  background-image: url("background.jpg");
  background-size: 100%; }
  .blue-colors > div {
    width: 500px;
    height: 40px; }
  .blue-colors .color1 {
    background-color: rgba(0, 0, 255, 0.1); }
  .blue-colors .color2 {
    background-color: rgba(0, 0, 255, 0.2); }
  .blue-colors .color3 {
    background-color: rgba(0, 0, 255, 0.3); }
  .blue-colors .color4 {
    background-color: rgba(0, 0, 255, 0.4); }
  .blue-colors .color5 {
    background-color: rgba(0, 0, 255, 0.5); }
  .blue-colors .color6 {
    background-color: rgba(0, 0, 255, 0.6); }
  .blue-colors .color7 {
    background-color: rgba(0, 0, 255, 0.7); }
  .blue-colors .color8 {
    background-color: rgba(0, 0, 255, 0.8); }
  .blue-colors .color9 {
    background-color: rgba(0, 0, 255, 0.9); }
  .blue-colors .color10 {
    background-color: blue; }

/*# sourceMappingURL=colors.css.map */
