$size: 100px;

%color {
    display: inline-block;
    width: $size;
    height: $size;
    text-align: center;
    line-height: $size;
    border: {
        style: solid;
        width: 2px;
    }
}

@each $class, $textColor, $backgroundColor, $borderColor in ("red", #A32424, #FFD9D9, #FF8080),
                                                            ("green", #267528, #CFFFD0, #80FF84),
                                                            ("blue", #263475, #D1DAFF, #8FA3FF) {
    .#{$class} {
        @extend %color;
        border-color: $borderColor;
        color: $textColor;
        background-color: $backgroundColor;
    }                                                            
}

$divOptions: (border-style, solid),
             (border-width, 2px),
             (border-color, #7A632C),
             (background-color, #E8E0CF),
             (color, #5C4A20),
             (font-weight, bold),
             (width, 315px),
             (height, 60px),
             (text-align, center),
             (line-height, 60px),
             (margin-top, 5px);
.customDiv {
    @each $property, $value in $divOptions {
        #{$property}: $value;
    }
}